<div fxLayout="row wrap" fxLayoutGap="16px grid" class="div-estacoes">
  <div *ngFor="let e of estacoes">
    <div class="example-card">
      <mat-card >
        <mat-card-subtitle>{{e.empresa}}</mat-card-subtitle>
        <mat-card-title style="text-align: center">Estação {{e.serial_number}}</mat-card-title>
        <mat-card-content>
          <img style="margin-left: 75px" src="assets/meteorology.png" alt="Logo" width="60" height="60">
          <p style="text-align: center">Cultivo atual: Milho</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions style="text-align: center">
          <button mat-button (click)="pageInfoEstacao(e.serial_number,e.empresa)" matTooltip="Gráficos"><img src="assets/bar-chart.png" alt="Logo" width="25" height="25"></button>
          <button mat-button (click)="pageAIEstacao(e.serial_number,e.empresa)" matTooltip="Inteligência Artificial"><img src="assets/inteligencia-artificial.png" alt="Logo" width="25" height="25"></button>
          <button mat-button (click)="pageEditEstacao()" matTooltip="Editar"><img src="assets/edit.png" alt="Logo" width="25" height="25"></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

