.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 50px;
}

.full-width {
  width: 100%;
}

.table{
  background-color: transparent;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

mat-header-cell, mat-cell {
  justify-content: center;
}

.button{
  position: absolute;
  right: 15px;
  padding: 20px;
}

::ng-deep .danger {
  background: #f36a21 !important;
  color: black;
  justify-content: center;
}

::ng-deep .success {
  background: #60f321 !important;
  color: black;
  justify-content: center;
}

.econtainer {
  height: 400px;
  max-width: 100%;
  overflow: auto;
}

.mat-header-row{
  position: sticky;
  top: 0;
  z-index: 100;
  border-radius: 15px;
  background: #e6fff5;
}
