<h1 style="margin-left: 50px; padding-top: 50px">Empresas</h1>

<mat-form-field style="margin-left: 20px" >
  <input (keyup)="searchBy($event.target.value)" matInput placeholder="Pesquisa">
</mat-form-field>

<mat-spinner *ngIf="showSpinner"></mat-spinner>

<mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z6 table">

  <ng-container matColumnDef="nome">
    <mat-header-cell mat-sort-header *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a>
        <span (click)="viewEmpresa(element.id)" style="cursor: pointer" class="menu">{{element.nome}}</span>
      </a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cidade">
    <mat-header-cell mat-sort-header *matHeaderCellDef>Cidade</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.endereco.cidade}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-icon (click)="deleteEmpresa(element.id)" style="color: red; cursor: pointer; margin-right: 20px">delete</mat-icon>
      <mat-icon (click)="editEmpresa(element.id)" style="color: cornflowerblue; cursor: pointer">edit</mat-icon>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayColums"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayColums;"></mat-row>
</mat-table>

<a class="button">
  <button mat-raised-button style="background-color: limegreen;" (click)="adicionarEmpresa()">Adicionar empresa</button>
</a>
