<h1 style="margin-left: 50px; padding-top: 18px">Empresas</h1>

<mat-form-field style="margin-left: 50px" *ngIf="localUser.groups.includes('admin') || localUser.groups.includes('super_user')">
  <input (keyup)="searchBy($event.target.value)" matInput placeholder="Pesquisa">
</mat-form-field>

<a class="button" *ngIf="localUser.groups.includes('admin') || localUser.groups.includes('super_user')">
  <button mat-raised-button style="background-color: limegreen; margin-top: -10px;"
          (click)="adicionarEmpresa()">Adicionar empresa</button>
</a>

<mat-spinner *ngIf="showSpinner"></mat-spinner>
<div class="container-table">
  <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z6 table">

    <ng-container matColumnDef="nome">
      <mat-header-cell mat-sort-header *matHeaderCellDef>Nome</mat-header-cell>
      <mat-cell *matCellDef="let element">
<!--        <a *ngIf="localUser.groups.includes('admin')-->
        <!--    || localUser.groups.includes('super_user')-->
        <!--    || localUser.groups.includes('high_user')">-->
        <!--  <span (click)="viewEmpresa(element)" style="cursor: pointer" class="menu">{{element.nome}}</span>-->
        <!--</a>-->
        <a>
          <span class="menu">{{element.nome}}</span>
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cidade">
      <mat-header-cell mat-sort-header *matHeaderCellDef>Cidade</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.endereco.cidade}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon  *ngIf="localUser.groups.includes('admin') || localUser.groups.includes('super_user')"
                          (click)="deleteEmpresa(element)"
                          style="color: red; cursor: pointer;
                          margin-right: 20px">
          delete
        </mat-icon>
        <mat-icon  *ngIf="localUser.groups.includes('admin') ||
                          localUser.groups.includes('super_user') ||
                          localUser.groups.includes('high_user')"
                          (click)="editEmpresa(element)"
                          style="color: cornflowerblue; cursor: pointer">
          edit
        </mat-icon>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayColums"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColums;"></mat-row>
  </mat-table>
</div>
