
.example-button-row {
  /*display: table-cell;*/
  width: 490px;
  margin-right: 50px;
  display: inline-block;
}

.example-card {
  width: 150px;
  height: 100px;
  /*margin-left: 600px;*/
  background-color: #549b54;
  color: white;
  margin: auto;
}

.div-graficos-dash {
  height: 650px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  /*margin-top: 30px;*/
}

.div-estacoes {
  height: 680px;
  max-width: 100%;
  overflow: auto;
}

