<div class="div-graficos-dash">
  <p style="text-align: center">Estação X localizada na Fazenda Y</p>

  <div fxLayout="row wrap" fxLayoutAlign="center center">

        <span style=" margin-top: 5px; margin-bottom: 5px;"><button mat-raised-button [color]="btnColorTemp" (click)="choiceVar('temp')">Temperatura</button></span>
        <span style="margin-left: 10px; margin-top: 5px; margin-bottom: 5px;"><button mat-raised-button [color]="btnColorUmid" (click)="choiceVar('umid')">Umidade</button></span>
<!--        <span style="margin-left: 10px; margin-top: 5px; margin-bottom: 5px;"><button mat-raised-button [color]="btnColorPressao" (click)="choiceVar('pressao')">Pressão</button></span>-->
        <span style="margin-left: 10px;  margin-top: 5px; margin-bottom: 5px;"><button mat-raised-button [color]="btnColorVento" (click)="choiceVar('vento')">Pressão e Vento</button></span>

  </div>

  <div *ngIf="showChart=='temp'" style="width: 900px; height: 750px; margin: 0 auto; overflow: auto">
    <canvas baseChart
            [datasets]="tempchartData"
            [chartType]="tempchartType"
            [labels]="tempchartLabels"
            [legend]="tempchartLegend"
            [colors]="tempChartColor"
    >
    </canvas>
  </div>

  <div *ngIf="showChart=='umid'" style="width: 900px; height: 750px; margin: 0 auto; overflow: auto">
    <canvas baseChart
            [datasets]="umidchartData"
            [chartType]="umidchartType"
            [labels]="umidchartLabels"
            [legend]="umidchartLegend"
            [colors]="umidChartColor"

    >
    </canvas>
  </div>

  <div *ngIf="showChart=='vento'" style="margin-top: 10px;; overflow: auto">

    <div class="grid-container">

      <mat-grid-list cols="3" rowHeight="300px">

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title> Pressão Atmosférica Relativa</mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div>Gráfico de Linha</div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title> Nível de Radiação </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div style="width: 250px; height: 250px; margin: 0 auto; overflow: auto">
                <canvas baseChart [data]="doughnutChartData" [chartType]="doughnutChartType"
                        [labels]="doughnutChartLabels"
                        [options]="doughnutChartOptions"
                        [legend]="velVentochartLegend"
                > </canvas>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="2">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title> Direção do Vento </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div style="width: 250px; height: 250px; margin: 0 auto; overflow: auto">
                Gráfico Radar
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title> Velocidade do Vento </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div style="width: 250px; height: 250px; margin: 0 auto; overflow: auto">
               Valor
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>

    </div>

  </div>

</div>



<!--<button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">-->
<!--  <mat-icon>more_vert</mat-icon>-->
<!--</button>-->
<!--<mat-menu #menu="matMenu" xPosition="before">-->
<!--  <button mat-menu-item>aa</button>-->
<!--  <button mat-menu-item>Remove</button>-->
<!--</mat-menu>-->
