.div-graficos {
  height: 280px;
  width: 800px;
  margin: 0 auto;
  overflow: auto;
}
.example-card {
  width: 150px;
  height: 100px;
  margin-left: 1000px;
  background-color: #549b54;
  color: white;

}
.div-graficos-dash {
  height: 650px;
  max-width: 100%;
  overflow: auto;
}


