
<div class="content mat-h1">
  <h3 style="margin-left: 20px; margin-top: 20px; padding-top: 20px">Profile Empresa</h3>
  <div class="formulario" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="info01" fxFlex="20%">
      <h6 style="margin-bottom: -25px">Razão Social:</h6>
      <h5>{{empresa.razao_social}}</h5>
    </div>
    <div fxFlex="20%">
      <h6 style="margin-bottom: -25px">Nome:</h6>
      <h5>{{empresa.nome}}</h5>
    </div>
    <div fxFlex="20%">
      <h6 style="margin-bottom: -25px">Email:</h6>
      <h5>{{empresa.email}}</h5>
    </div>
    <div fxFlex="20%">
      <h6 style="margin-bottom: -25px">WebSite:</h6>
      <h5>{{empresa.web_site}}</h5>
    </div>
  </div>


  <!--
  cnpj?: string,
  web_site?: string,
  telefone?: Telefone,
  endereco?: Endereco -->

<!--    <div class="info">-->
<!--      <div class="row_1 mat-h1">-->


<!--&lt;!&ndash;        <h6>Nome Fantasia:</h6>&ndash;&gt;-->
<!--&lt;!&ndash;        <h3>{{empresa.nome}}</h3>&ndash;&gt;-->

<!--&lt;!&ndash;        id: "",&ndash;&gt;-->
<!--&lt;!&ndash;        email: "",&ndash;&gt;-->
<!--&lt;!&ndash;        cnpj: "",&ndash;&gt;-->
<!--&lt;!&ndash;        web_site: "",&ndash;&gt;-->

<!--      </div>-->
<!--      <div>-->
<!--        <h6>Nome Fantasia:</h6>-->
<!--        <h3>{{empresa.nome}}</h3>-->
<!--      </div>-->
<!--      <div class="row_2 mat-h1">-->
<!--        <h3>Razão Social:</h3>-->
<!--        <h4>teste3</h4>-->
<!--      </div>-->

<!--    </div>-->






<!--          <mat-list-item>-->
<!--            <div style="width: 250px; padding-right: 20px">-->
<!--              <div class="title">-->
<!--                <span>Razão Social:</span>-->
<!--              </div>-->
<!--              <div class="name">-->
<!--                {{empresa.razao_social}}-->
<!--              </div>-->
<!--            </div>-->
<!--            <div style="width: 250px; padding-right: 20px">-->
<!--              <div class="title">-->
<!--                <span>Nome Fantasia: </span>-->
<!--              </div>-->
<!--              <div class="name">-->
<!--                {{empresa.nome}}-->
<!--              </div>-->
<!--            </div>-->
<!--            <div style="width: 250px">-->
<!--              <div class="title">-->
<!--                Email:-->
<!--              </div>-->
<!--              <div class="name">-->
<!--                {{empresa.email}}-->
<!--              </div>-->
<!--            </div>-->
<!--          </mat-list-item>-->

<!--          <mat-list-item>-->

<!--            <div style="width: 300px">-->
<!--              <div class="title" style="margin-top: 100px">-->
<!--                WebSite:-->
<!--              </div>-->
<!--              <div class="name">-->
<!--                {{empresa.web_site}}-->
<!--              </div>-->

<!--            </div>-->
<!--          </mat-list-item>-->

<!--          <mat-list-item>-->
<!--              {{empresa.cnpj}}-->
<!--          </mat-list-item>-->

<!--          <mat-list-item style="width: 500px">-->
<!--            <div class="telefones">-->
<!--              <h3>Telefones</h3>-->
<!--              <mat-list>-->
<!--                <mat-list-item>-->
<!--                  <div style="width: 180px; padding-right: 20px">-->
<!--                    {{empresa.telefone.residencial}}-->
<!--                  </div>-->
<!--                  <div style="width: 180px; padding-right: 20px">-->
<!--                    {{empresa.telefone.celular}}-->
<!--                  </div>-->
<!--                  <div style="width: 180px; padding-right: 20px">-->
<!--                    {{empresa.telefone.outro}}-->
<!--                  </div>-->
<!--                </mat-list-item>-->
<!--              </mat-list>-->
<!--            </div>-->
<!--          </mat-list-item>-->

  <!--        <mat-list-item>-->
  <!--          <div class="endereco">-->
  <!--            <h3>Endereço</h3>-->
  <!--            <mat-list>-->
  <!--              <mat-list-item>-->
  <!--                <mat-form-field style="width: 140px; padding-right: 20px">-->
  <!--                  <input matInput placeholder="CEP" mask="00.000-000"-->
  <!--                         formControlName="cep" (ngModelChange)="verificaCep()">-->
  <!--                </mat-form-field>-->
  <!--                <mat-form-field style="width: 300px; padding-right: 20px">-->
  <!--                  <input matInput placeholder="Logradouro"-->
  <!--                         formControlName="logradouro">-->
  <!--                </mat-form-field>-->
  <!--                <mat-form-field style="width: 100px;">-->
  <!--                  <input matInput placeholder="Cidade"-->
  <!--                         formControlName="cidade">-->
  <!--                </mat-form-field>-->
  <!--              </mat-list-item>-->
  <!--              <mat-list-item>-->
  <!--                <mat-form-field style="width: 150px; padding-right: 20px">-->
  <!--                  <input matInput placeholder="Complemento"-->
  <!--                         formControlName="complemento">-->
  <!--                </mat-form-field>-->
  <!--                <mat-form-field style="width: 130px; padding-right: 20px">-->
  <!--                  <input matInput placeholder="Bairro"-->
  <!--                         formControlName="bairro">-->
  <!--                </mat-form-field>-->
  <!--                <mat-form-field style="width: 40px; padding-right: 20px">-->
  <!--                  <input matInput placeholder="UF"-->
  <!--                         formControlName="uf">-->
  <!--                </mat-form-field>-->
  <!--                <mat-form-field>-->
  <!--                  <input matInput placeholder="Número"-->
  <!--                           formControlName="numero">-->
  <!--                </mat-form-field>-->

  <!--              </mat-list-item>-->
  <!--            </mat-list>-->
  <!--          </div>-->
  <!--        </mat-list-item>-->

  <!--        <mat-list-item style="margin-top: 222px; margin-left: 250px;">-->
  <!--          <mat-list-item fxLayoutAlign="center">-->
  <!--            <button mat-raised-button color="primary" [disabled]="form.invalid"-->
  <!--                    (click)="cadastrarEmpresa()">Cadastrar</button>-->
  <!--          </mat-list-item>-->
  <!--        </mat-list-item>-->
</div>



