<div class="div-graficos-dash">
  <p style="text-align: center">Estação {{dev_id}} localizada em {{dev_empresa}}</p>

  <!--  Botões para seleção de gráfico-->
  <div fxLayout="row wrap" fxLayoutAlign="center center">

    <span style=" margin-top: 5px; margin-bottom: 5px;"><button mat-raised-button [color]="btnColorTemp" (click)="choiceVar('temp')">Temperatura</button></span>
    <span style="margin-left: 10px; margin-top: 5px; margin-bottom: 5px;"><button mat-raised-button [color]="btnColorUmid" (click)="choiceVar('humid')">Umidade</button></span>
<!--    <span style="margin-left: 10px; margin-top: 5px; margin-bottom: 5px;"><button mat-raised-button [color]="btnColorPressao" (click)="choiceVar('pressure')">Pressão</button></span>-->
    <span style="margin-left: 10px;  margin-top: 5px; margin-bottom: 5px;"><button mat-raised-button [color]="btnColorVento" (click)="choiceVar('wind')">Vento</button></span>

  </div>

  <!--  Página da Temperatura-->
  <div *ngIf="wichVarChart=='temp'" style="width: 900px; height: 500px; margin: 0 auto; overflow: auto">

    <canvas baseChart
            [datasets]="tempchartData"
            [chartType]="tempchartType"
            [labels]="tempchartLabels"
            [legend]="tempchartLegend"
            [colors]="tempChartColor"
    >
    </canvas>

  </div>

  <!--    Página da Umidade-->
  <div *ngIf="wichVarChart=='humid'" style="width: 900px; height: 500px; margin: 0 auto; overflow: auto">
    <canvas baseChart
            [datasets]="umidchartData"
            [chartType]="umidchartType"
            [labels]="umidchartLabels"
            [legend]="umidchartLegend"
            [colors]="umidChartColor"
    >
    </canvas>
  </div>

  <!--    Página da Pressão-->
  <div *ngIf="wichVarChart=='pressure'" style="width: 900px; height: 500px; margin: 0 auto; overflow: auto">
    <canvas baseChart
            [datasets]="pressaochartData"
            [chartType]="pressaochartType"
            [labels]="pressaochartLabels"
            [legend]="pressaochartLegend"
            [colors]="pressaoChartColor"
    >
    </canvas>
  </div>

  <!--    Página da Velocidade do vento-->
  <div *ngIf="wichVarChart=='wind'" style="width: 900px; height: 500px; margin: 0 auto; overflow: auto">
    <canvas baseChart
            [datasets]="velventochartData"
            [chartType]="velventochartType"
            [labels]="velventochartLabels"
            [legend]="velventochartLegend"
            [colors]="velventoChartColor"
    >
    </canvas>
  </div>

</div>



