<mat-toolbar class="toolbar">
  <img style="margin-left: 30px" src="assets/nav.png" alt="Logo" width="50" height="50">
  <span style="margin-left: 25px; font-size: 1.75rem; color: white">ConnectAll</span>
  <span class="toolbar-spacer"></span>

  <span class="menu" style="cursor: pointer"><button mat-raised-button (click)="aboutUs()">Sobre</button></span>

  <span class="menu" style="cursor: pointer"><button mat-raised-button (click)="contactUs()">Contato</button></span>

  <span class="menu" style="cursor: pointer"><button mat-raised-button (click)="sair()" *ngIf="autenticado()">Sair</button></span>

  <a *ngIf="autenticado()">
    <ngx-avatar class="avatar" name="{{localUser.username}}"></ngx-avatar>
  </a>

<!--  <span class="menu" style="cursor: pointer"><button mat-raised-button (click)="logar()" *ngIf="!autenticado()">Entrar</button></span>-->

</mat-toolbar>

      <router-outlet>
      </router-outlet>

<footer class="footer">
  <p>
    <small>© 2021 Copyright ConnectAll: Soluções de Conectividade IoT</small>
  </p>
</footer>
