<mat-toolbar class="toolbar" color="primary">
  <img style="margin-left: 30px" src="assets/nav.png" alt="Logo" width="50" height="50">
  <span style="margin-left: 25px; font-size: 1.75rem">Sistema de Monitoramento</span>
  <span class="toolbar-spacer"></span>

  <a>
    <span (click)="aboutUs()" class="menu" style="cursor: pointer">AboutUs</span>
  </a>
  <a>
    <span (click)="contactUs()" style="cursor: pointer" class="menu">ContactUs</span>
  </a>

  <a (click)="sair()" style="cursor: pointer"
     alt="Sair" title="Sair"
     *ngIf="autenticado()">
    <mat-icon class="toolbar-icon"
              matTooltip="Sair">exit_to_app
    </mat-icon>
  </a>

  <a (click)="logar()" style="cursor: pointer"
     *ngIf="!autenticado()">
    <mat-icon class="toolbar-icon"
              matTooltip="SignIn">exit_to_app
    </mat-icon>
  </a>
</mat-toolbar>

<router-outlet></router-outlet>

<footer class="footer">
  <p>
    © 2021 Copyright: Sistema de Monitoramento
  </p>
</footer>
