.formulario{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-top: 10px;
}

.telefones{
  margin-top: 100px;
}

.endereco{
  margin-top: 300px;
}

::ng-deep .danger {
  background: #f36a21 !important;
  color: black;
  justify-content: center;
}

::ng-deep .success {
  background: #406530 !important;
  color: black;
  justify-content: center;
}

::ng-deep .danger .mat-simple-snackbar-action {
  color: black;
}
