::ng-deep mat-dialog-container{
  background-color: gainsboro !important;
  padding: 0px 0px 0px 0px !important;
  overflow: hidden !important;
  border-radius: 30px !important;
  text-align: center !important;
  padding-top: 40px !important;
}
