@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  box-sizing: border-box;
  margin: 0;
  height: 80%;
  width: 100%;
  background-image: url("src/assets/bkg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.font{
  font-family: 'Roboto', sans-serif;
}

